springAccWS/src/main/webapp/schemas/Person.xsd.txt

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
 			xmlns="http://com/blog/samples/webservices/personservice"  
 			targetNamespace="http://com/blog/samples/webservices/personservice" 
 			elementFormDefault="qualified">
 	<xs:element name="header">
	    <xs:complexType>
	      <xs:sequence>
	        <xs:element type="xs:string" name="userid"/>
	        <xs:element type="xs:string" name="password"/>
	      </xs:sequence>
	    </xs:complexType>
  	</xs:element>		
	<xs:element name="addPersonRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="login" type="Login" />
				<xs:element name="p" type="Person" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="addPersonResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="addPersonReturn" type="xs:boolean" />
				<xs:element name="message" nillable="true" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
		<xs:element name="updatePersonRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="login" type="Login" />
				<xs:element name="p" type="Person" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="updatePersonResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="addPersonReturn" type="xs:boolean" />
				<xs:element name="message" nillable="true" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="deletePersonRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="login" type="Login" />
				<xs:element name="id" type="xs:int" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="deletePersonResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="deletePersonReturn" type="xs:boolean" />
				<xs:element name="message" nillable="true" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="getPersonRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="login" type="Login" /> 
				<xs:element name="id" type="xs:int" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="getPersonResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="getPersonReturn" type="Person" />
				<xs:element name="message" nillable="true" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="getAllPersonsRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="login" type="Login" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="getAllPersonsResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" name="getAllPersonsReturn"
					type="Person" />
				<xs:element name="message" nillable="true" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="Person">
		<xs:sequence>
			<xs:element name="age" type="xs:int" />
			<xs:element name="id" type="xs:int" />
			<xs:element name="name" nillable="true" type="xs:string" />
			<xs:element name="country" nillable="true" type="xs:string" />
			<xs:element name="occupation" nillable="true" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
		<xs:complexType name="Login">
		<xs:sequence>
			<xs:element name="name" nillable="true" type="xs:string" />
			<xs:element name="password" nillable="true" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
</xs:schema>