springWSSecurity/src/main/webapp/schemas/PersonWS.wsdl

<wsdl:definitions targetNamespace="http://com/anvesh/spring/wssecurity/pns" 
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
	xmlns:sch="http://com/anvesh/spring/wssecurity/pns" 
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:tns="http://com/anvesh/spring/wssecurity/pns">
   <wsdl:types>
      <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" 
	  targetNamespace="http://com/anvesh/spring/wssecurity/pns" 
	  xmlns="http://com/anvesh/spring/wssecurity/pns" 
	  xmlns:xs="http://www.w3.org/2001/XMLSchema">
         <xs:element name="addPersonRequest">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="p" type="Person"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="addPersonResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="addPersonReturn" type="xs:boolean"/>
                  <xs:element name="message" nillable="true" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="updatePersonRequest">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="p" type="Person"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="updatePersonResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="addPersonReturn" type="xs:boolean"/>
                  <xs:element name="message" nillable="true" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="deletePersonRequest">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="id" type="xs:int"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="deletePersonResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="deletePersonReturn" type="xs:boolean"/>
                  <xs:element name="message" nillable="true" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="getPersonRequest">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="id" type="xs:int"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="getPersonResponse">
            <xs:complexType>
               <xs:sequence>
               	  <xs:element name="getPersonReturn" type="Person"/>
                  <xs:element name="message" nillable="true" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="getAllPersonsRequest">
            <xs:complexType>
               <xs:sequence>
<!--                   <xs:element name="login" type="Login"/> -->
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="getAllPersonsResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element maxOccurs="unbounded" name="getAllPersonsReturn" type="Person"/>
                  <xs:element name="message" nillable="true" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:complexType name="Person">
            <xs:sequence>
               <xs:element name="age" type="xs:int"/>
               <xs:element name="id" type="xs:int"/>
               <xs:element name="name" nillable="true" type="xs:string"/>
               <xs:element name="country" nillable="true" type="xs:string"/>
               <xs:element name="occupation" nillable="true" type="xs:string"/>
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
   </wsdl:types>
   <wsdl:message name="addPersonResponse">
      <wsdl:part element="tns:addPersonResponse" name="addPersonResponse"/>
   </wsdl:message>
   <wsdl:message name="updatePersonRequest">
      <wsdl:part element="tns:updatePersonRequest" name="updatePersonRequest"/>
   </wsdl:message>
   <wsdl:message name="updatePersonResponse">
      <wsdl:part element="tns:updatePersonResponse" name="updatePersonResponse"/>
   </wsdl:message>
   <wsdl:message name="getAllPersonsResponse">
      <wsdl:part element="tns:getAllPersonsResponse" name="getAllPersonsResponse"/>
   </wsdl:message>
   <wsdl:message name="deletePersonResponse">
      <wsdl:part element="tns:deletePersonResponse" name="deletePersonResponse"/>
   </wsdl:message>
   <wsdl:message name="addPersonRequest">
      <wsdl:part element="tns:addPersonRequest" name="addPersonRequest"/>
   </wsdl:message>
   <wsdl:message name="getPersonResponse">
      <wsdl:part element="tns:getPersonResponse" name="getPersonResponse"/>
   </wsdl:message>
   <wsdl:message name="getPersonRequest">
      <wsdl:part element="tns:getPersonRequest" name="getPersonRequest"/>
   </wsdl:message>
   <wsdl:message name="deletePersonRequest">
      <wsdl:part element="tns:deletePersonRequest" name="deletePersonRequest"/>
   </wsdl:message>
   <wsdl:message name="getAllPersonsRequest">
      <wsdl:part element="tns:getAllPersonsRequest" name="getAllPersonsRequest"/>
   </wsdl:message>

   <wsdl:portType name="PersonService">
      <wsdl:operation name="addPerson">
         <wsdl:input message="tns:addPersonRequest" name="addPersonRequest"/>
         <wsdl:output message="tns:addPersonResponse" name="addPersonResponse"/>
      </wsdl:operation>
      <wsdl:operation name="updatePerson">
         <wsdl:input message="tns:updatePersonRequest" name="updatePersonRequest"/>
         <wsdl:output message="tns:updatePersonResponse" name="updatePersonResponse"/>
      </wsdl:operation>
      <wsdl:operation name="getAllPersons">
         <wsdl:input message="tns:getAllPersonsRequest" name="getAllPersonsRequest"/>
         <wsdl:output message="tns:getAllPersonsResponse" name="getAllPersonsResponse"/>
      </wsdl:operation>
      <wsdl:operation name="deletePerson">
         <wsdl:input message="tns:deletePersonRequest" name="deletePersonRequest"/>
         <wsdl:output message="tns:deletePersonResponse" name="deletePersonResponse"/>
      </wsdl:operation>
      <wsdl:operation name="getPerson">
         <wsdl:input message="tns:getPersonRequest" name="getPersonRequest"/>
         <wsdl:output message="tns:getPersonResponse" name="getPersonResponse"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="PersonServiceSoap11" type="tns:PersonService">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="addPerson">
         <soap:operation soapAction=""/>
         <wsdl:input name="addPersonRequest">
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output name="addPersonResponse">
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="updatePerson">
         <soap:operation soapAction=""/>
         <wsdl:input name="updatePersonRequest">
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output name="updatePersonResponse">
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="getAllPersons">
         <soap:operation soapAction=""/>
         <wsdl:input name="getAllPersonsRequest">
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output name="getAllPersonsResponse">
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="deletePerson">
         <soap:operation soapAction=""/>
         <wsdl:input name="deletePersonRequest">
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output name="deletePersonResponse">
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="getPerson">
         <soap:operation soapAction=""/>
         <wsdl:input name="getPersonRequest">
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output name="getPersonResponse">
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="PersonServices">
      <wsdl:port binding="tns:PersonServiceSoap11" name="PersonServiceSoap11">
         <soap:address location="http://localhost:8088/springWSSecurity/endpoints"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>